rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
        return isSignedIn() && isOwner(userId) &&
          exists(/databases/$(database)/documents/userProfiles/$(userId));
    }

    function isChairperson() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Chairperson';
    }

    function isCoordinator() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Coordinator';
    }

    function isInvestmentLead() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Investment Lead';
    }
    
    function isTreasurer() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Treasurer';
    }

    function isSecretary() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Secretary';
    }

    match /userProfiles/{userId} {
      allow get: if isSignedIn() &&
        (isOwner(userId) || isTreasurer() || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow list: if isSignedIn() &&
        (isTreasurer() || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow create: if isSignedIn() && isOwner(userId);

      allow update: if 
        (get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin' &&
          !request.resource.data.diff(resource.data)
            .affectedKeys()
            .hasAny(['treasurerApproved', 'chairpersonApproved'])) ||
        ((isTreasurer() || isChairperson()) &&
          request.resource.data.diff(resource.data)
            .affectedKeys()
            .hasAny(['treasurerApproved', 'chairpersonApproved', 'status', 'role'])) ||
        (isOwner(userId) &&
          request.resource.data.diff(resource.data)
            .affectedKeys()
            .hasOnly(['firstName', 'lastName', 'phone', 'photoURL']));

      allow delete: if 
        get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin' ||
        isExistingOwner(userId) ||
        ((isChairperson() || isTreasurer()) && resource.data.status == 'pending');
    }

    match /financialYears/{financialYearId} {
      allow get, list: if isSignedIn();
      allow create, update: if isSignedIn() &&
        (isChairperson() || isTreasurer());
      allow delete: if false;
    }

    match /userProfiles/{userId}/contributions/{contributionId} {
      allow get, list: if isSignedIn() &&
        (isOwner(userId) || isTreasurer() || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow create, update: if isSignedIn() &&
        (request.auth.uid == userId || isTreasurer());

      allow delete: if isExistingOwner(userId);
    }

    match /{path=**}/contributions/{contributionId} {
      allow get, list: if isSignedIn() &&
        (isInvestmentLead() || isChairperson() || isTreasurer() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');
    }

    match /userProfiles/{userId}/specialContributions/{specialContributionId} {
      allow get, list: if isSignedIn() &&
        (isOwner(userId) || isTreasurer() || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow create, update, delete: if isSignedIn() && isTreasurer();
    }
    
    match /{path=**}/specialContributions/{specialContributionId} {
      allow get, list: if isSignedIn() &&
        (isTreasurer() || isInvestmentLead() || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');
    }

    match /events/{eventId} {
      allow get, list: if true;
      allow create, update, delete: if isSignedIn() && isCoordinator();
    }

    match /constitution/{constitutionId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isSignedIn() && isChairperson();
    }

    match /investmentReports/{investmentReportId} {
      allow get, list: if isSignedIn();
      allow create, update: if isSignedIn() && isInvestmentLead();
      allow delete: if false;
    }

    match /investmentIdeas/{ideaId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isSignedIn() &&
        (isInvestmentLead() || isChairperson());
    }

    match /meetingMinutes/{minuteId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isSignedIn() &&
        (isSecretary() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');
    }

    match /expenditures/{expenditureId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isSignedIn() && (isTreasurer() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');
    }

    match /miscellaneousIncomes/{incomeId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isSignedIn() &&
        (isTreasurer() || isChairperson());
    }

    match /polls/{pollId} {
      allow get, list: if isSignedIn();

      allow create: if isSignedIn() &&
        request.auth.uid == request.resource.data.creatorId;

      allow update: if isSignedIn() &&
        (isOwner(resource.data.creatorId) || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow delete: if isSignedIn() &&
        ((resource.data.creatorId != null &&
          resource.data.creatorId == request.auth.uid)
         || isChairperson()
         || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow update: if isSignedIn() &&
        request.resource.data.diff(resource.data)
          .changedKeys()
          .hasOnly(['options', 'voters']);
    }

    function hasVoted(pollId) {
      return exists(/databases/$(database)/documents/polls/$(pollId)/votes/$(request.auth.uid));
    }
    
    match /polls/{pollId}/votes/{voteId} {
      allow get: if isSignedIn();

      allow list: if isSignedIn() &&
        (hasVoted(pollId) || isChairperson() || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');

      allow create, update: if isSignedIn() &&
        voteId == request.auth.uid &&
        request.resource.data.userId == request.auth.uid;
      
      allow delete: if isSignedIn() &&
        (isOwner(voteId)
         || isOwner(get(/databases/$(database)/documents/polls/$(pollId)).data.creatorId)
         || isChairperson()
         || get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role == 'Admin');
    }
  }
}
